.navbar,
.navbar_container,
.navbar_logo,
.navbar_links,
.navbar_link,
.navbar_link_item {
	display: flex;
	align-items: center;
}
.navbar {
	justify-content: center;
	height: var(--nav-height);
	padding: 0rem var(--space-md);
	background: var(--black);
	color: var(--white);
}
.navbar_container {
	width: 100%;
	height: 100%;
}
.navbar_logo {
	flex: 1;
	height: 100%;
}
.navbar_logo svg {
	fill: var(--white);
}
.navbar_links {
	height: 100%;
	flex: 1;
	gap: var(--space-xl);
	justify-content: flex-end;
}
.navbar_link {
	height: 100%;
	justify-content: center;
}
.navbar_link_item {
	color: var(--white);
	height: var(--nav-height);
	justify-content: center;
}
.navbar_link_item:hover,
.navbar_link_item:active {
	color: var(--smoke);
}

