.hero,
.hero > section,
.hero_col_left,
.hero_col_right {
	display: flex;
	align-items: center;
}
.hero {
	min-height: 30rem;
	height: 100%;
	padding: var(--space-lg);
}
.hero > section {
	gap: var(--space-md);
}
.hero_col_left,
.hero_col_right {
	min-height: 25rem;
	height: 100%;
}
.hero_col_left {
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	gap: var(--space-lg);
}
.hero_col_right {
	flex: 1;
	/* max-width: 30rem; */
	background-image: url("../assets/svg/boy-sitting-on-chair-and-reaidng-book.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 90%;
}
.hero_col_right svg {
	/* width: inherit; */
}

